
html{
    font-size: 10px;
    font-family: 'Pacifico', cursive;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url("Background.jpg") no-repeat center fixed;
    background-size: cover;
}

.section{
    padding: 6rem;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

image {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content:'';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}

header{
    width: 100%;
    height: 100vh;
}

.link{
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    padding: 1rem;
}

.nav-list{
    font-size: 5rem;
    margin: 1rem;
    padding: 10rem;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list a{
    color: white;
    margin-block: 5rem;
    font-weight: 200;
    opacity: 1;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a[href="home"] :hover {
    opacity: 100%;
}

.nav a:hover{
    opacity: .1;
}

.link{
    text-align: -webkit-right;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, 0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, 0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 14rem;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
    margin: 8rem;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
    margin: 6rem;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex: 1;
}

.social-media{
    padding: 70px 0;
    text-align: center;
}

.social-media{
    font-size: 5rem;
    transition: color 650ms;
    align-items: center;
    margin-right: 1rem;
}

.fa-dribbble:hover{
    color: #ea4c89;
}

.fa-linkedin:hover{
    color: #0e76a8;
}

.fa-behance:hover{
    color: #053eff;
}

.fa-github:hover{
    color: #211F1F;
}

.container ul{
    border-left: 4px solid #ffe838;
    border-radius: .8rem;
    background-color: rgba(0,0,0,.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.container ul{
    font-size: 2.5rem;
    opacity: 100%;
    margin-bottom: 2rem;

}

.container h1{
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: 30;
}

.container p{
    border-bottom: 2px solid rgba(255,255,255,0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

form{
    width: 40%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}
input[type="submit"]{
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 605ms;
}


input[type="submit"]:hover{
    color: #221e3f;
    background-color: #ffe838;
}

.copyright{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0.);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
}